<strong>Olá, {{ deliveryman }}</strong>
<p>Existe uma nova entrega cadastrada para você:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <small>
    Cheque suas entregas para fazer a retirada do produto
  </small>
</p>
